<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>FirstFilter</display-name>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.zj.filter.FirstFilter</filter-class>
  </filter>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zj.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCardServlet</display-name>
    <servlet-name>AddCardServlet</servlet-name>
    <servlet-class>com.zj.servlet.AddCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCardServlet</servlet-name>
    <url-pattern>/AddCard.do</url-pattern>
  </servlet-mapping>
  <display-name>ChinaMoblie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewCustomerServlet1</display-name>
    <servlet-name>NewCustomerServlet1</servlet-name>
    <servlet-class>com.zj.servlet.NewCustomerServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerServlet1</servlet-name>
    <url-pattern>/NewCustomer1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerServlet2</display-name>
    <servlet-name>NewCustomerServlet2</servlet-name>
    <servlet-class>com.zj.servlet.NewCustomerServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerServlet2</servlet-name>
    <url-pattern>/NewCustome2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.zj.servlet.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeServlet</display-name>
    <servlet-name>ChargeServlet</servlet-name>
    <servlet-class>com.zj.servlet.ChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeServlet</servlet-name>
    <url-pattern>/Charge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeItemServlet</display-name>
    <servlet-name>ChargeItemServlet</servlet-name>
    <servlet-class>com.zj.servlet.ChargeItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeItemServlet</servlet-name>
    <url-pattern>/ChargeItem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLoginServlet</display-name>
    <servlet-name>DeleteLoginServlet</servlet-name>
    <servlet-class>com.zj.servlet.DeleteLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLoginServlet</servlet-name>
    <url-pattern>/DeleteLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNumberServlet</display-name>
    <servlet-name>GetNumberServlet</servlet-name>
    <servlet-class>com.zj.servlet.GetNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNumberServlet</servlet-name>
    <url-pattern>/GetNumber.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorServlet</display-name>
    <servlet-name>OperatorServlet</servlet-name>
    <servlet-class>com.zj.servlet.OperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorServlet</servlet-name>
    <url-pattern>/Operator.do</url-pattern>
  </servlet-mapping>
</web-app>